
body{
    background-color: black;
    color: white;
    font-family: 'verdana'; 
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #777;
}

.style1{
    height: 2px;
    background: grey
}
.style2{
    height: 2px;
    background: #008080;
}

.main {
    padding-top: 3%;
    left: 14%;
    width: 75%;
    margin: auto;
}

video{
    left: 15%;
}

h1{
    padding-top: 2.5%;
    text-align: center;
}
h3{
    text-align: center;
}

p{
    text-align: center;

}

.display{
    margin-top: 5px;
    border: 2px solid #008080;
    padding: .5px 45px;
}

.display:hover{
    background-color: #008080;
    color: white;
}

.contact{
    border: 2px solid grey;
    padding: 5px 55px;
}
.contact:hover{
    background-color: grey;
    color: white;
}

.playGame1{
    border: 2px solid grey;
    padding: .5px 45px;
}
.playGame1:hover{
    background-color: grey;
    color: white;
}

.playGame2{
    border: 2px solid #008080;
    padding: .5px 45px;
}
.playGame2:hover{
    background-color: #008080;
    color: white;
}
/* quick fix to make sure the sizes of the videos are the same when its hovered*/
.game1{
    border: 4px solid #008080;
}
.game1:hover{
    border: 4px solid grey;
}
.game2{
    border: 4px solid grey;
}
.game2:hover{
    border: 4px solid #008080;
}

img.books{
    border: 3px solid #008080;
}
img.games{
    border: 3px solid #008080;
}
img.movies{
    border: 3px solid #008080;
}
img.podcasts{
    border: 3px solid #008080;
}
